@import 'tailwindcss';

:root {
}

@theme inline {
    --font-sans: var(--font-inter);
}

body {
    font-family: var(--font-inter), sans-serif;
}

/* Hide scrollbar but keep scrolling */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
